<%= form_with model: page do |form| %>

  <%= form.hidden_field :parent_id %>
  
  <div>
    <%= form.label :title if @page.new_record? %><br>
    <%= form.text_field :title if @page.new_record? %>
  </div>

  <div>
    <%= form.label :header %><br>
    <%= form.text_field :header %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_field :body, class: 'form_control', size: '80x10' %>    
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>