<%= form_with model: page do |form| %>

  <%= form.hidden_field :parent_id %>
  
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :header %><br>
    <%= form.text_field :header %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_field :body %>    
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>